/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

/* Global styles */
a {
  position: relative;
  text-decoration: none;
  color: orange; /* Set your desired text color */
  overflow: hidden;
}


/* Underline animation for links */
a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: orange;
  transition: width 0.5s ease;
}

a:hover::before {
  width: 100%;
}

a:not(:hover)::before {
  width: 0;
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.left-content {
  display: flex;
  align-items: center;
}

.logo {
  width: 30px;
}

.left-title {
  font-size: 2em;
  font-weight: bold;
  margin-left: 2px;
}

.right-links {
  display: flex;
}

.right-links a {
  color: black;
  text-decoration: none;
  margin-left: 30px;
  transition: transform 0.1s ease;
  font-weight: bold;
  font-size: 1.5em;
}

.right-links a:hover {
  transform: scale(1.1);
}

/* TopPerformers container styles */
.top-performers-container {
  text-align: center;
  padding: 20px;
  /* background-color: rgb(248, 231, 187); */
  /* border-radius: 8px; */
  padding-top: 20px;
  height: 90vh;
  overflow: hidden;
  
}

h2 {
  color: #0c0c0c;
  font-size: 36px;
  margin-top: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.performers-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.performer-card {
  text-align: center;
  margin: 4rem 0;
  transition: transform 0.3s;
  width: 15rem;
  /* opacity: 1; */
}

.performer-card:hover {
  transform: scale(1.05);
}

.performer-photo {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin: 20px auto;
  display: block;
}

.mb-2 {
  color: rgb(0, 7, 12);
}

.badge {
  display: inline-block;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  color: black;
  font-weight: bold;
}

/* Ranking colors */
.rank-1 {
  background-color: gold;
}

.rank-2 {
  background-color: silver;
}

.rank-3 {
  background-color: #cd7f32; /* Bronze color */
}

.rank-4 {
  background-color: greenyellow; /* Bronze color */
}

.rank-5 {
  background-color: rgb(153, 153, 224); /* Bronze color */
}

/* Performance styles */
.performance {
  overflow: hidden;
}

.line-chart {
  margin-top: 124px;
}

.bug-score {
  font-size: large;
  font-weight: bold;
  margin-bottom: 2rem;
}

.resize {
  max-width: 900px;
  max-height: fit-content;
}

.performance {
  padding-bottom: 2%;
}

/* Navbar styles */
.navbar-collapse {
  justify-content: end;
}
.title-top-performer{
  padding-bottom: 2%;
}

.margin{
  margin-top: 12%;
}
.activity{
  margin-bottom: 5%;
}

.activity-page p{
  font-family: "Roboto", sans-serif;
  font-weight: 390;
} 
.color{
  background-color: #F4F1E8;
}
#root{
  background-color: #F4F1E8;

}
.take-space{
  margin-top: 4.5%;
  /* scroll-behavior: smooth; */
}
/* .right-to-left ,  .left-to-right{
  width: 500px;
  height: 500px;
} */
.info-align{
  /* text-align: center; */
  margin-top: 25%;
}
.activity-page{
  /* margin-top: 5%; */
  padding: 0 5%;
}
.activity-page p{
  margin-top: 5%;
  /* padding: 5%; */
}
.padding-bottom{
  padding-top: 27%;
}
.padding-top{
  padding-top: 0;
}